.main-page {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #3359DB;

  &__timer-div {
    display: flex;
    justify-content: center;

    &__time {
      display: flex;
      justify-content: center;
      font-size: 95px;
      margin: 12px;
      font-family: 'Digital-7';
    }

    &__second {
      margin-top: 65px;
    }
  }

  &__timer-position {
    position: relative;
    top: 35%;
    right: 25%;

    &__title {
      font-size: 18px;
      font-weight: 400;
      text-align: center;
    }

    &__done {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 50px;
      border: 2px solid #FFAF30;
      border-radius: 12px;
      margin-bottom: 12px;
      cursor: pointer;
    }

  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__title {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 20px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      height: 80vh;
      overflow-y: auto;

      &-item {
        display: flex;
        width: 300px;
        height: 50px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transition: box-shadow 500ms ease-in-out;
        margin-bottom: 8px;
        padding: 4px;
        border: 1px solid #FFAF30;
        cursor: pointer;

        &-done {
          text-decoration: line-through;
          margin-bottom: 8px
        }
      }

      &-item:hover {
        box-shadow: 0.0625rem 0.2125rem 0.8rem 0 rgba(0, 0, 0, 0.1);
        transition: box-shadow 300ms ease-in-out;
      }
    }
  }
}
